[submodule "labs/lab5-8/vector-lab-turney-jeffTheLandShark"]
	path = labs/lab5-8/vector-lab
	url = git@github.com:MSOE-CPE2600/vector-lab-turney-jeffTheLandShark.git
[submodule "labs/lab11/multiprocessing-turney-jeffTheLandShark"]
	path = labs/lab11-12/multiprocessing
	url = https://github.com/MSOE-CPE2600/multiprocessing-turney-jeffTheLandShark
[submodule "labs/lab13/final-project-jeffTheLandShark"]
	path = labs/lab13/final-project
	url = https://github.com/MSOE-CPE2600/final-project-jeffTheLandShark.git
[submodule "group_activity/LectureProject121"]
	path = group_activity/LectureProject121
	url = https://github.com/Turney399/LectureProject121.git
